PORT=3001
FRONTEND_URL=http://localhost:5173
FRONTEND_URLS=http://localhost:5173,https://corporativofront.vercel.app,https://corporativo.luxcarequipamiento.pe
SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY
